
@{
    ViewBag.Title = "WishListRemove";
}

<h2 style="text-align:center;">The Product Has Been Removed From The WishList</h2>
@Html.ActionLink("Back To Product Page", "Index", "Product",null, new { @class = "btn btn-primary btn-lg" })


