@using System.Web;
@model IEnumerable<ApniShopWebAssignment.Models.UPTable>

@{
    ViewBag.Title = "AddProductToProductDatabase";
}

<h2>THE ITEM HAS BEEN APPROVED BY ADMIN</h2>

@Html.ActionLink("Back To Approvals", "AdminIndex", "UTable")
