
@{
    ViewBag.Title = "RemoveProductFromTempDatabase";
}

<div class="row" style="margin: auto;
        width: 80%;
        height: 80%;
        border: 10px solid rgb(128, 0, 128);
        padding: 10px;
        background: white;
        font-family: 'Public Sans', sans-serif;
">

    <h2>THE ITEM HAS NOT BEEN APPROVED BY ADMIN</h2>

</div>